.findoc-line-data {
	border-color: white;
	border: 1px solid;
	padding: 5px;
	text-align: center;
	min-width: 150px;
}

.findoc-btn-margin-top {
	margin-top: 10px;
}

.findoc-btn-margin-bottom {
	margin-bottom: 10px;
}

.findoc-csv-parent {
	margin-bottom: 50px;
}

.findoc-support-btn {
	box-shadow: none !important;
	background-color: transparent !important;
}

.findoc-models-container {
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px;
}

.findoc-model-section {
	padding: 10px;
	margin-bottom: 20px;
}

.findoc-model-section-wrapper {
	display: flex;
	justify-content: end;
}

.findoc-select {
	min-width: 200px;
	height: 130px;
}

.findoc-color-section {
	padding: 10px;
}

/* SVG */
.w-2 {
	width: 20px;
}

.h-2 {
	height: 20px;
}
