.findoc-line-data {
	border-color: white;
	border: 1px solid;
	padding: 5px;
	text-align: center;
	min-width: 150px;
}

.findoc-btn-margin-top {
	margin-top: 10px;
}

.findoc-btn-margin-bottom {
	margin-bottom: 10px;
}

.findoc-btn-margin-right {
	margin-right: 10px;
}

.findoc-csv-parent {
	margin-bottom: 50px;
}

.findoc-support-btn {
	box-shadow: none !important;
	background-color: transparent !important;
}

.findoc-documentation-btn {
	box-shadow: none !important;
	background-color: transparent !important;
}

.findoc-models-container {
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px;
}

.findoc-model-section {
	padding: 30px;
	margin-bottom: 30px;
	border: 3px solid grey;
	border-radius: 5px;
}

.findoc-model-section-wrapper {
	display: flex;
	justify-content: end;
	margin-bottom: 10px;
}

.findoc-select {
	min-width: 200px;
	height: 130px;
}

.findoc-color-section {
	padding: 10px;
}

/* SVG */
.w-2 {
	width: 20px;
}

.h-2 {
	height: 20px;
}

/** AUTOCOMPLETE **/

.findoc-autocomplete-list {
	display: none;
	max-width: 300px;
	width: 100%;
	color: var(--text-normal);
	background-color: var(--background-primary);
	padding: 0;
	border: 2px solid white;
	border: 2px solid white;
	box-shadow: 4px 4px white;
	margin-top: 30px;
}

.findoc-autocomplete-list-opened {
	display: block;
	position: absolute !important;
	z-index: 10;
}

.findoc-autocomplete-list > li {
	list-style: none;
	width: 100%;
	padding: 12px 12px;
	word-break: break-all;
	z-index: 11;
}

.findoc-autocomplete-list > li:hover {
	background: rgba(0, 0, 0, 0.1);
}

.findoc-autocomplete-container {
	position: relative;
	width: 100%;
}

/* COLLAPSE */
.collapse {
	display: block;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
	max-height: 99em;
	transition: max-height 0.5s ease-in-out;
}
